{{ define "main" }}
<div class="header">
    <div class="textcontainer">
        <h1>Portfolio | Jakob Lundoe</h1>
    </div>
</div>
<div class="aboutcontentcontainer">
    <div class="aboutdescription">
        <div class="biotitle">
            <h2>Hi!</h2>
        </div>
        <div class="biosubtitle">
            <h3>My name is Jakob and I work with audio, interaction design and everything in between!</h3>
        </div>
        <div class="biodescription">
            <p>
                {{ .Content }}
            </p>
        </div>
    </div>
    <div class="aboutpresent">
        <img src="/img/profilephoto_jakoblundoe.jpg" alt="Jakob Lundoe profile photo">
    </div>
</div>
<div>

</div>
{{ end }}