{{ define "main" }}
<div class="flex flex-col flex-nowrap min-h-dvh bg-white pb-20">
    {{ partial "header.html" . }}
    <div class="flex flex-col flex-nowrap justify-center items-start m-auto max-w-[1280px] px-2
                ">
        <div class="flex flex-row flex-wrap justify-center items-start py-12 px-2 gap-5 -mt-4
                    ">
            <div class="flex flex-col flex-nowrap justify-start items-center w-[500px] gap-2.5 mt-2 px-8
                        "> 
                <div class="flex flex-row gap-3 items-start font-medium text-pink text-6xl text-start tracking-wider mt-2.5 mb-7">
                    {{ with .Resources.Get "pagecontent/header.md" }}
                        {{ .Content }}
                    {{ end }}
                    <h1 class="text-semilightblack text-6xl font-extralight"> THERE! </h1>
                </div>
                <div class="flex flex-row items-start gap-2.5 -mt-3 font-normal text-xl text-justify tracking-wide
                            sm:text-left">
                    {{ with .Resources.Get "pagecontent/subheader.md" }}
                        {{ .Content }}
                    {{ end }}
                </div>
                <div class="flex flex-col items-start gap-2.5 mt-4 pb-8 -mb-9 font-light text-lg text-justify
                            sm:text-left">
                    {{ with .Resources.Get "pagecontent/description.md" }}
                        {{ .Content }}
                    {{ end }}
                </div>
            </div>
            <div class="flex items-center w-[440px] h-auto rounded-sm mt-4 shadow-user-sm
                        ">
                <img src="/img/profilephoto_jakoblundoe.webp" alt="Jakob Lundoe profile photo" class="rounded-sm">
            </div>
        </div>
        <div class="flex flex-col flex-nowrap justify-center items-start px-4 max-w-[982px]">
            {{ partial "dropdowncontent.html" . }}
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}