{{ define "main" }}
<div class="flex flex-col flex-nowrap min-h-dvh bg-white">
    {{ partial "header.html" . }}
    <div class="flex flex-col flex-nowrap items-center m-auto">
        <div class="gap-2.5 font-medium text-5xl tracking-wider">
            {{ with .Resources.Get "pagecontent/description.md" }}
                {{ .Content }}
            {{ end }}
        </div>
        <div class="">
            <div class="">
                {{ with .Resources.Get "pagecontent/email.md"}}
                    {{ .Content }}
                {{ end }}
            </div>
            <div class="">
                <a href="mailto:me@jakoblundoe.com" class="">
                    {{ with .Resources.Get "pagecontent/buttontext.md" }}
                        {{ .Content }}
                    {{ end }}
                </a>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}