{{ define "main" }}
<div class="contactcontent">
    <div class="contacttitle">
        {{ with .Resources.Get "pagecontent/description.md" }}
            {{ .Content }}
        {{ end }}
    </div>
    <div class="emailcontainer">
        <div class="contactinfo">
            {{ with .Resources.Get "pagecontent/email.md"}}
                {{ .Content }}
            {{ end }}
        </div>
        <div class="buttoncontainer">
            <a href="mailto:me@jakoblundoe.com" id="emailbutton">
                {{ with .Resources.Get "pagecontent/buttontext.md" }}
                    {{ .Content }}
                {{ end }}
            </a>
        </div>
    </div>
</div>
<!-- <div class="spacer"></div> -->
{{ end }}