{{ define "main" }}
<div class="flex flex-col flex-nowrap justify-between min-h-dvh bg-no-repeat bg-center bg-cover pb-14" style="background-image: url('/img/pressphoto-jln.webp');">
    <div id="overlay" class="opacity-0 fixed w-full h-full bg-overlay-color z-40 cursor-pointer pointer-events-none"></div> 
    {{ partial "header.html" . }}
    <div id="showreelvideocontainer" class="hidden justify-center items-center my-auto z-10 w-full h-[20vh]">
        <video id="showreelvideo" class="flex-1 justify-center self-center basis-[500px] shrink-[5] m-5 object-contain object-center overflow-hidden h-auto max-w-[1400px] rounded-sm shadow-user-md" style="margin: min(5vw, 95%)" controls>
            <source src="/videos/alexgraphicsconverted.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="flex justify-center items-center mt-2.5 mb-10">
        <button id="showreelbutton" class="font-mono text-lg tracking-wide text-white box-border py-4 px-6 border-2 border-solid border-white bg-transp-black gap-5 transition duration-200 drop-shadow-user-md
                        hover:bg-less-transp-black hover:scale-100 hover:font-black hover:text-xl hover:shadow-user-md
                        active:bg-dark-grey
                        sm:text-xl sm:py-4 sm:px-7">
            {{ with .Resources.Get "pagecontent/buttontext.md" }}
                {{ .Content }}
            {{ end }}
        </button>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}