{{ define "main" }}
<div id="videocontainer" class="display_none">
    <video id="showreelvideo" controls>
        <source src="/videos/alexgraphicsconverted.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<div class="showreelbuttoncontainer">
    <button id="showreelbutton" class="notPlaying">
        <p>
            {{ with .Resources.Get "pagecontent/buttontext.md" }}
                {{ .Content }}
            {{ end }}
        </p>
    </button>
</div>
{{ end }}