{{ define "main" }}
<div class="flex flex-col flex-nowrap justify-between bg-white pb-14">
    {{ partial "header.html" . }}
    <div class="flex justify-center mt-3">
        <h1 class="text-5xl tracking-wider font-extralight text-semilightblack relative after:absolute ml-6 after:border after:border-t-0 after:border-grey after:w-full after:left-1/2 after:-translate-x-1/2 after:mt-2
                    [&_span]:text-pink [&_span]:font-normal">
            {{ .Content }}
        </h1>
    </div>
    <div class="flex flex-col h-[500px]">
        <div class="m-auto p-10 pt-20 max-w-3xl text-black text-base font-light text-center
                    [&_p]:-mt-12 [&_p]:mb-12
                    [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65
                    sm:text-left sm:text-xl">
            {{ with .Resources.Get "pagecontent/projectssection.md" }}
                {{ .Content }}
            {{ end }}
        </div> 
    </div>

    <div id="project-section" class="bg-white flex justify-center">
        <div id="section-wrapper" class="flex flex-col justify-center max-w-[1200px] mb-20">
            <div class="flex justify-center m-4">
                <h2 class="font-inter text-3xl tracking-wider font-light text-semilightblack">
                    {{ with .Resources.Get "pagecontent/projectssection.md" }}
                        {{ .Title }}
                    {{ end }}
                </h2>
            </div>
            <div class="flex flex-wrap justify-center gap-16">
                {{ partial "projectsection.html" . }}
            </div>
            <!-- <div class="relative after:absolute ml-6 after:border after:border-t-0 after:border-semilightblack after:w-11/12 after:left-1/2 after:-translate-x-1/2 after:mt-2"></div> -->
        </div>
    </div>
    <div id="music-section" class="bg-gray-200 flex justify-center">
        <div id="section-wrapper" class="flex flex-col justify-center max-w-[1200px] mb-20">
            <div class="flex justify-center m-4 mb-12">
                <h2 class="font-inter text-3xl tracking-wider font-light text-semilightblack">
                    {{ with .Resources.Get "pagecontent/musicsection.md" }}
                        {{ .Title }}
                    {{ end }}
                </h2>
            </div>
            <div class="flex flex-wrap justify-center gap-16">
                {{ partial "musicsection.html" . }}
            </div>
            <!-- <div class="relative after:absolute ml-6 after:border after:border-t-0 after:border-semilightblack after:w-11/12 after:left-1/2 after:-translate-x-1/2 after:mt-2"></div> -->
        </div>
    </div>
    <div id="bitesized-section" class="bg-white w-auto h-auto">
        <div class="mx-20 mb-10">
            <div class="flex flex-wrap justify-center mt-4 mb-10">
                <h2 class="font-inter text-3xl tracking-wider font-light text-semilightblack">
                    {{ with .Resources.Get "pagecontent/bitesizesection.md" }}
                        {{ .Title }}
                    {{ end }}
                </h2>
            </div>
            <div class="flex justify-center gap-16">
                {{ partial "bitesizesection.html" . }}
            </div>
            <!-- <div class="relative after:absolute ml-6 after:border after:border-t-0 after:border-semilightblack after:w-11/12 after:left-1/2 after:-translate-x-1/2 after:mt-2"></div> -->
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}