{{ define "main" }}
<div class="flex flex-col flex-nowrap justify-between bg-white pb-14 overflow-x-hidden">
    {{ partial "header.html" . }}
    <div class="select-text flex justify-center mt-3">
        <h1 class="text-5xl tracking-wider font-extralight text-semilightblack relative after:absolute after:border after:border-t-0 after:border-grey after:w-full after:left-1/2 after:-translate-x-1/2 after:mt-2
                    [&_span]:text-pink [&_span]:font-normal" style="font-size: min(9.6vw, 3rem);">
            {{ .Content }}
        </h1>
    </div>

    <div id="project-section" class="bg-white flex justify-center">
        <div class="flex flex-col justify-center max-w-[1200px] mb-20">
            <div class="flex justify-center m-4 mb-8 mt-14">
                <h2 class="select-text font-inter text-3xl tracking-wider font-light text-semilightblack px-4">
                    {{ with .Resources.Get "pagecontent/projectsection.md" }}
                        {{ .Title }}
                    {{ end }}
                </h2>
            </div>
            <div class="flex flex-wrap justify-center gap-10 px-8">
                {{ partial "projectsection.html" . }}
            </div>
        </div>
    </div>
    <div id="bitesized-section" class="bg-gray-200 flex justify-center">
        <div class="flex flex-col max-w-[1200px] mb-20">
            <div class="flex justify-center m-4 mb-8">
                <h2 class="select-text font-inter text-3xl tracking-wider font-light text-semilightblack px-4 leading-snug">
                    {{ with .Resources.Get "pagecontent/bitesizesection.md" }}
                        {{ .Title }}
                    {{ end }}
                </h2>
            </div>
            <div class="flex flex-wrap justify-center gap-10 px-8 3md:grid 3md:grid-rows-2 3md:grid-cols-2">
                {{ partial "bitesizesection.html" . }}
            </div>
        </div>
    </div>
    <div id="music-section" class="flex justify-center">
        <div class="flex flex-col justify-center max-w-[1200px] sm:mb-20 mb-2">
            <div class="flex flex-row flex-wrap flex-shrink m-4 mb-4 1sm:mb-8 1sm:justify-center">
                <div class="flex flex-row flex-wrap justify-start ml-11 1sm:ml-0">
                    {{ with .Resources.Get "pagecontent/musicsection.md" }}
                    <h2 class="select-text text-nowrap font-inter text-3xl tracking-wider font-light text-semilightblack ml-3 leading-snug">
                        {{ .Title }}
                    </h2>
                    <h2 class="select-text text-nowrap font-inter text-3xl tracking-wider font-light text-semilightblack mr-3 ml-3 1sm:ml-2 leading-snug">
                        {{ .Content }}
                    </h2>
                    {{ end }}
                </div>
            </div>
            <div class="flex flex-col flex-wrap justify-center self-center pb-20 3md:grid 3md:grid-rows-2 3md:grid-cols-2">
                {{ partial "musicsection.html" . }}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}