@tailwind base;

@layer base {
    html {
        @apply font-inter;
        @apply text-black;
    }
}

@tailwind components;
@tailwind utilities;

#footer.overlay {
    background-color: rgb(110, 110, 110); /* Black background with opacity */
    z-index: 4;
    transition:
    all 500ms;
}

@media (max-width: 640px) {
    .somelinkcontainer {
        display: none;
        flex: none;
        /* flex-flow: row nowrap; */
        /* justify-content: space-between; */
        /* align-items: left; */
        padding: 3px 0 3px 24px;
        gap: 6px;
    }
}