@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.70); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    pointer-events: none;
}

#footer.overlay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0px 28px 0px 20px;
    
    background-color: rgb(110, 110, 110); /* Black background with opacity */

    position: fixed;
    bottom: 0;
    width: 100%;

    z-index: 4;

    transition:
    all 500ms;
}

.default_page {
    min-height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    background: linear-gradient(359.91deg, rgba(255, 255, 255, 0.06) 0.07%,
                                           rgba(138, 138, 138, 0.12) 65.47%,
                                           rgba(88, 88, 88, 0.1) 82.95%,
                                           rgba(54, 54, 54, 0.2) 99.92%),
                                           #000000;
    background-blend-mode: normal, soft-light;
    mix-blend-mode: normal;
}

.index_page, .showreel_page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    min-height: 100dvh;

    background-image: url('/img/pressphoto-jln.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-bottom: 56px;
}

.mainviewport {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#videocontainer {
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 0;
    z-index: 2;
}

.display_none {
    display: none;
    animation: disappear 500ms;
    opacity: 0;
}

.display_flex {
    display: flex;
    animation: appear 500ms;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

#videocontainer video {
    width: min(85vw, 90%);
    height: auto;
    max-width: 1200px;
    max-height: auto;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #000000;

    margin: 50px 0 34px 0;

    transition: opacity 0.5s ease, height 0.5s ease;
}

#footer.normal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0px 28px 0px 20px;
    
    background: #FFFFFF;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;

    transition:
    all 500ms;
}

.somelinkcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 3px 24px;
    gap: 6px;
}

.somelinkcontainer .someitem {
    transition:
    all 140ms;
}

.somelinkcontainer .someitem:hover {
    opacity: .7;
    transform: scale(1.05);
}

.somelinkcontainer .someitem:active {
    opacity: .5;
    transform: scale(1.05);
}

#linkedin-icon {
    width: 36px;
    height: auto;
}

#instagram-icon {
    width: 28px;
    height: auto;
}

#github-icon {
    width: 50px;
    height: auto;
    margin-right: 2px;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    gap: 18px;
    margin-right: -4px;

    min-height: 56px;
}

.navbar .logocontainer {
    display: flex;
    width: 50px;
    height: auto;
    align-items: center;
    justify-content: center;
    opacity: .8;

    transition:
    all 100ms;
}

.navbar .logocontainer:hover {
    opacity: .7;
    transform: scale(1.05);
}

.navbar .logocontainer:active {
    opacity: .5;
    transform: scale(1.05);
}

.navbar .logo {
    max-width: 100%;
    max-height: 100%;
    width: 32px;
}

.navbar .navbaritemcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    gap: 30px;
}

.navbaritemcontainer a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    letter-spacing: 0.2px;

    font-size: 19px;

    color: #262626;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    transition:
    all 100ms;
}

.navbaritemcontainer a:hover {
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.01); */
    opacity: .75;
}

.navbaritemcontainer a:active {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0);
    opacity: .6;
}

.navbaritemcontainer .activepage {
    text-decoration: underline;
}

.header {
    padding: 2px 24px;
    gap: 14px;
}

.header .textcontainer {
    display: flex;
    flex-flow: column nowrap;

    padding: 4px 0px;
}

.header h1 {
    color: #FFFFFF;
    text-shadow: 1px 2px 8px #000000;

    font-size: 40px; /* fallback font-size */
    font-size: min(8vw, 50px);
}

.header h2 {
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 1px 2px 8px #000000;
    
    font-size: 24px; /* fallback font-size */
    font-size: min(4.28vw, 30px);
}

.showreelbuttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 34px 0;
}

#showreelbutton {
    box-sizing: border-box;

    padding: 18px 30px;
    gap: 21px;
    border: 2px solid #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color:#2424243d;
    filter: drop-shadow(1px 1px 4px #000000);

    transition:
    all 200ms;
}

#showreelbutton p {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;

    text-shadow: 2px 4px 8px #000000;

    transition:
    all 200ms;
}

#showreelbutton:hover {
    background: #141414b6;
    border: 2px solid #FFFFFF;
    box-shadow: 1px 1px 4px #000000;

    transform: scale(1.03);
}

#showreelbutton:hover p {
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    
    color: #ffffff;
    
    text-shadow: 2px 4px 8px #000000;
}

#showreelbutton:active {
    background: #444444;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 0px #000000;

    transform: scale(1.02);
}

#showreelbutton:active p {
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    
    color: #ffffff;
    
    text-shadow: 0px 0px 0px #000000;
}

.contactcontent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: auto;
    padding: 80px 40px 80px 40px;
}

.contact_page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    min-height: 100dvh;

    background-color: #000000;
    background-image: url('/img/textured_bg_dark_5.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-bottom: 56px;
}

.contact_page .header, .about_page .header {
    position: relative;
    /* border-bottom: 1px solid rgb(165, 165, 165); */
}

.contact_page .header::after, .about_page .header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25px; /* Adjust to control the starting point */
    right: 25px; /* Adjust to control the ending point */
    /* border-bottom: 1px solid rgb(165, 165, 165); */
    border-bottom: 1px solid rgb(165, 165, 165);
}

.contact_page .header h1 {
    font-size: 30px; /* fallback font-size */
    font-size: min(8vw, 37.5px);
}

.contact_page .header h2 {
    font-size: 18; /* fallback font-size */
    font-size: min(4.28vw, 22.5px);
}
.contact_page #footer, .about_page #footer {
    border-top: 1px solid #000000;
}

.contacttitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.contacttitle p {
    font-weight: 500;
    font-size: 54px;
    line-height: 24px;
    letter-spacing: 3px;
    text-align: center;

    color: #ffffff;

    /* text-shadow: 1px 2px 8px #000000; */
}

.emailcontainer {
    display: flex; 
    flex-flow: column nowrap;
    align-self: center;
    padding: 0px;

    gap: 10px;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 34px;
    gap: 10px;
}

#emailbutton {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px 36px;
    gap: 10px;

    margin-top: 30px;

    /* border: 2px solid #e33c72; */
    border: 2px solid white;

    border-radius: 7px;
    box-shadow: 2px 4px 3px black;
    text-shadow: 2px 4px 3px black;

    transition:
    all 300ms;
}

.buttoncontainer a {
    font-weight: 400;
    font-size: 30px;
    line-height: 17px;
    letter-spacing: 1px;
    /* color: #e33c72; */
    color: white;

    transition:
    all 300ms,
    opacity 100ms;
}

#emailbutton:hover {
    background: #141414b6;
    box-shadow: 1px 1px 4px #000000;

    transform: scale(1.03);
}

#emailbutton:active {
    opacity: 70%;
    transition:
    opacity 100ms;
}

.contactinfo {
    display: flex;
    align-self: center;
    padding: 4px;
    gap: 10px;
}

.contactinfo p {
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;

    /* color: #252525; */
    color: white;
}

.about_page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    min-height: 100dvh;

    background-color: #bdbdbd;
    background-image: url('/img/textured_bg_dark_5.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-bottom: 80px;
}

.about_page a, .about_page p, .about_page h1, .about_page h2,
.about_page h3, .about_page h4, .about_page h5, .about_page h6 {
    letter-spacing: 0.1px;
}

.about_page h1 {
    font-size: 30px; /* fallback font-size */
    font-size: min(8vw, 37.5px);
    letter-spacing: 0.5px;
}

.about_page h2 {
    font-size: 18; /* fallback font-size */
    font-size: min(4.28vw, 22.5px);
    letter-spacing: 0.5px;
}

.aboutcontentcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
    padding: 45px 55px;
    margin: auto;
}

.aboutdescription {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 410px;
    gap: 10px;
}

.aboutdescription .biotitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.biotitle h2 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;

    margin-top: -5px;
}

.aboutdescription .biosubtitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.biosubtitle h3 {
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    letter-spacing: 0.6px;
}

.aboutdescription .biodescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 0px;

    margin-bottom: -35px;
}

.biodescription p {
    font-weight: 300;
    font-size: 19px;
    text-align: justify;
}

.aboutimgcontainer {
    display: flex;
    align-items: center;
    width: 430px;
    height: auto;

    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.582);
    border-radius: 2px;
}
.aboutimgcontainer img {
    border-radius: 1px;
}

.work_page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    min-height: 100dvh;

    background-color: #000000;
    background-image: url('/img/textured_bg_dark_5.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-bottom: 56px;
}