@import 'plyr/dist/plyr.css';
@tailwind base;

@layer base {
    html {
        @apply font-inter;
        @apply text-semilightblack;
        overflow-y: scroll;
    }
}

@tailwind components;
@tailwind utilities;

/* PLYR CUSTOMIZATION */
:root {
    --plyr-color-main: rgb(111, 140, 184);
}
.plyr__video-wrapper {
    border-radius: 2px; /* Adjust the value as needed */
    overflow: hidden;
}
.plyr {
    border-radius: 2px; /* Adjust the value as needed */
    overflow: hidden;
}
