{{ $section := .Site.GetPage "section" "bitesizecontent" }}
{{ range sort $section.Pages "Params.order" }}
{{ $pageTitle := .Params.title }}
{{ $pageVideoPath := .Params.videopath }}
<div class="flex flex-col gap-2">
    <div class="flex justify-center">
        <h3 class="text-lg font-semibold text-semilightblack">
            {{ $pageTitle }}
        </h3>
    </div>
    <div style="border-radius: 12px;">
        <div id="" class="shadow-user-sm" style="border-radius: 4px;">
            <video playsinline preload="metadata" controls class="plyr-video max-h-[500px]" loop style="border-radius: 4px;">
                <source src="{{ $pageVideoPath }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div>
        <p>
            {{ .Content }}
        </p>
    </div>
</div>
{{ end }}