{{ $section := .Site.GetPage "section" "bitesizecontent" }}
{{ range sort $section.Pages "Params.order" }}
{{ $pageTitle := .Params.title }}
{{ $pageVideoPath := .Params.videopath }}
<div class="flex flex-col gap-4">
    <div>
        <h3>
            {{ $pageTitle }}
        </h3>
    </div>
    <div class="">
        <div id="videocontainer" class="">
            <video playsinline preload="metadata" controls class="plyr-video w-full max-h-dvh rounded-sm shadow-user-md">
                <source src="{{ $pageVideoPath }}" type="video/mp4">
                {{ $pageVideoPath }}
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div>
        <p>
            {{ .Content }}
        </p>
    </div>
</div>

{{ end }}