<div class="contentbox">
    <div class="card">
        <h4>Card 01</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Zv3LVDvMo8s?si=74AYkUs3dB4JBJGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="card">
        <h4>Card 02</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/87MjwXzFi1w?si=GQVf3Fmjxc31gZXp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>