<div class="mt-2">
    <div class="flex flex-row flex-nowrap justify-start items-center mb-2 ml-3">
        <button id="educationbutton" class="flex justify-center rotate-180 transition ease-out duration-300
                        hover:opacity-80 hover:scale-102
                        active:opacity-60
                        ">
            <img src="/img/arrow-up-icon.webp" alt="dropdown arrow icon" style="width: 50px; height: auto;">
        </button>
        <h2 class="font-inter font-medium text-xl mx-2.5 text-semilightblack pt-1
                    sm:text-2xl">
            {{ with .Resources.Get "/pagecontent/resumecontent/education.md" }}
                {{ with .Params.title }}
                    {{ . }}
                    {{ end }}
            {{ end }}
        </h2>
    </div>
</div>
<div class="mr-4
            [&_p]:pb-4 [&_p]:mt-2
            [&_h3]:font-bold [&_h3]:text-base [&_h3]:text-semilightblack
            [&_h4]:font-bold [&_h4]:text-pink [&_h4]:text-sm
            relative after:absolute ml-6 after:border after:border-t-0 after:border-semilightblack after:w-full
            sm:mr-2
            sm:[&_h3]:text-xl
            sm:[&_h4]:text-lg">
    <div id="educationcontent" class="grid grid-rows-0fr">
        <div class="overflow-hidden">
            <div class="pl-1">
                {{ with .Resources.Get "/pagecontent/resumecontent/education.md" }}
                    {{ .Content }}
                {{ end }}
            </div>
        </div>
    </div>
</div>