{{ $currentPage := . }}
<!-- below class belongs to #footer.normal -->
<div id="footer" class="flex flex-row flex-nowrap justify-start items-center pr-7 pl-5 bg-white fixed bottom-0 w-full z-30 transition duration-2000
      sm:flex-row sm:justify-between
      {{ if ne $currentPage.Title "Showreel"}}border-t border-solid border-black{{ end }}">
      <div class="flex flex-row flex-nowrap mr-auto gap-2">
        {{ partial "nav.html" . }}
        {{ partial "smartphonenav.html" . }}
      </div>
      <div id="sidebarnav" class="hidden">
        {{ partial "sidebarnav" . }}
      </div>
      <div>
        {{ partial "somebar.html" . }}
      </div>
</div>