{{ $section := .Site.GetPage "section" "musiccontent-audio" }}
{{ range $index, $page := sort $section.Pages "Params.order" }}
{{ $pageTitle := $page.Params.title }}
{{ $pageAudioPath := $page.Params.audioPath }}
{{ $pageImg := $page.Params.imgPath }}

<div class="flex flex-col gap-2">
    <div class="flex flex-col justify-center w-[480px]">
        <div class="shadow-md">
            <div>
                <div class="relative w-[480px] h-[360px]">
                    <div id="audioContainer-{{ $index }}" class="absolute w-[480px] h-[360px]" style="border-radius: 2px;">
                    </div>
                    <img src="{{ $pageImg }}" alt="" style="border-top-left-radius: 2px; border-top-right-radius: 2px;">
                    <div id="play-music-btn-{{ $index }}" style="border-radius: 2px;" class="absolute inset-0 flex justify-center items-center ease-in-out duration-300
                    hover:bg-less-transp-black
                    hover:cursor-pointer"
                    onmouseover="this.querySelector('ion-icon').style.opacity='1';"
                    onmouseout="this.querySelector('ion-icon').style.opacity='0';"
                    onmousedown="this.querySelector('ion-icon').style.opacity='0.5'; this.querySelector('ion-icon').style.transition='opacity 0.1s ease-in-out';"
                    onmouseup="this.querySelector('ion-icon').style.opacity='1';">
                        <ion-icon id="play-music-btn" name="play-circle-outline" style="font-size: 64px; color: rgba(255, 255, 255, 0.9); opacity: 0; transition: opacity 0.3s ease-in-out;">
                        </ion-icon>
                        <div class="absolute inset-0 flex justify-center items-center ease-in-out duration-300 opacity-0
                                    hover:opacity-100">
                            <h3 class="font-bebas text-5xl text-white tracking-wide mb-48">
                                {{ $pageTitle }}
                            </h3>
                        </div>
                    </div>
                </div>
                <audio src="{{ $pageAudioPath }}" class="plyr-audio"></audio>
            </div>
        </div>
        <div class="select-text flex flex-col font-mono mt-2 ml-1
                  [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65">
            <h3 class="text-base font-semibold text-semilightblack">
                {{ $pageTitle }}
            </h3>
            <div class="select-text text-sm">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ $section := .Site.GetPage "section" "musiccontent-video" }}
{{ range sort $section.Pages "Params.order" }}
{{ $pageTitle := .Params.title }}
{{ $pageVideo := .Params.videoPath }}

<div class="flex flex-col gap-2">
    <div class="w-[480px]">
        <div id="musicvideo" style="border-radius: 2px;">
            <video playsinline preload="metadata" controls class="plyr-musicvideo max-h-[360px]" loop style="border-radius: 2px;">
                <source src="{{ $pageVideo }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="select-text flex flex-col font-mono mt-2 ml-1
              [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65">
        <h3 class="text-base font-semibold text-semilightblack">
            {{ $pageTitle }}
        </h3>
        <div class="select-text text-sm">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}