<div class="flex flex-row flex-nowrap items-center gap-5 -mr-1 min-h-14">
    <div class="flex w-12 h-auto items-center justify-center opacity-80 transition duration-100
                hover:opacity-70 hover:scale-105
                active:opacity-50 active:scale-105">
        <a href="/showreel">
            <img src="/img/jl-logo.webp" alt="Jakob Lundoe homepage logo" class="max-w-full max-h-full w-8">
        </a>
    </div>
    <div class="flex flex-row flex-nowrap justify-center items-center py-1 px-1.5 gap-8
                [&_a]:font-mono [&_a]:text-light-black [&_a]:font-normal [&_a]:tracking-wide text-xl [&_a]:transition [&_a]:duration-100
                hover:[&_a]:opacity-75 active:[&_a]:opacity-60">
        {{ $pages := where .Site.Pages "Params.inNavbar" true}}
        {{ $currentPage := . }}
        {{ with $pages }}
            {{ range sort $pages "Params.navbarOrder" }}
                {{ if eq .RelPermalink $currentPage.RelPermalink }}
                    <a href="{{ .RelPermalink }}" class="underline">{{ .Title }}</a>
                {{ else }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>