<div class="navbar">
    <div class="logocontainer">
        <a href="/showreel">
            <img src="/img/jl-logo.webp" alt="Jakob Lundoe homepage logo" class="logo">
        </a>
    </div>
    <div class="navbaritemcontainer">
        {{ $pages := where .Site.Pages "Params.inNavbar" true}}
        {{ $currentPage := . }}
        {{ with $pages }}
            {{ range sort $pages "Params.navbarOrder" }}
                {{ if eq .RelPermalink $currentPage.RelPermalink }}
                    <a href="{{ .RelPermalink }}" class="activepage">{{ .Title }}</a>
                {{ else }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>