{{ $section := .Site.GetPage "section" "projectcontent" }}
{{ range $index, $page := sort $section.Pages "Params.order" }}
{{ $pageTitle := $page.Params.title }}
{{ $projectYear := $page.Params.year }}
{{ $projectType := $page.Params.type }}
{{ $pageThumbnail := $page.Params.thumbnail }}
{{ $projectURL := $page.Params.external_url }}

<div class="flex flex-col gap-2 rounded-sm">
    <div class="flex flex-col justify-center rounded-sm">
        <div class="shadow-md rounded-sm">
            <a href="{{ $projectURL }}">
                <div>
                    <div class="relative max-w-[480px] max-h-[360px] rounded-sm">
                        <img src="{{ $pageThumbnail }}" alt="project thumbnail image" class="rounded-sm">
                        <div id="project-overlay-{{ $index }}" class="absolute inset-0 opacity-0 flex justify-center items-center bg-less-transp-black ease-in-out duration-500 rounded-sm hover:cursor-pointer">
                            <div id="link-overlay-btn" class="absolute inset-0 flex flex-col justify-center items-center ease-in-out duration-50 active:opacity-80 rounded-sm">
                                <h3 class="font-bebas text-5xl text-white tracking-wide">
                                    {{ $pageTitle }}
                                </h3>
                                <h4 class="font-bebas text-3xl text-light-grey tracking-wider">
                                    {{ $projectYear }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="select-text flex flex-col font-mono mt-2 ml-1
                    [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65">
                    <div class="flex flex-row items-center gap-2 align-center">
                        <p class="text-base font-semibold text-semilightblack">
                            {{ $pageTitle }}
                        </p>
                        <p class="text-sm font-normal">
                            |
                        </p>
                        <p class="text-sm font-normal mt-[2px]">
                            {{ $projectType }}
                        </p>
                    </div>
            <div class="select-text text-sm">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}