{{ $section := .Site.GetPage "section" "projectcontent" }}
{{ range $index, $page := sort $section.Pages "Params.order" }}
{{ $pageTitle := $page.Params.title }}
{{ $projectYear := $page.Params.year }}
{{ $projectType := $page.Params.type }}
{{ $pageThumbnail := $page.Params.thumbnail }}
{{ $projectURL := $page.Params.external_url }}

<div class="flex flex-col gap-2">
    <div class="flex flex-col justify-center max-w-[480px] min-w-[341px]">
        <div class="shadow-md">
            <a href="{{ $projectURL }}">
                <div class="">
                    <div class="relative max-w-[480px] max-h-[360px]">
                        <img src="{{ $pageThumbnail }}" alt="" style="border-radius: 2px;">
                        <div id="project-overlay-{{ $index }}" style="border-radius: 2px;" class="absolute inset-0 opacity-0 flex justify-center items-center bg-less-transp-black ease-in-out duration-300 hover:cursor-pointer">
                            <div id="link-overlay-btn" class="absolute inset-0 flex justify-center items-center ease-in-out duration-50 active:opacity-80">
                                <h3 class="font-bebas text-5xl text-white tracking-wide mb-48">
                                    {{ $pageTitle }}
                                </h3>
                                <h4 class="font-bebas text-3xl text-light-grey tracking-wider ease-in-out duration-150
                                            group-active:opacity-75">
                                    {{ $projectYear }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="select-text flex flex-col font-mono mt-2 ml-1
                    [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65">
                    <div class="flex flex-row items-center gap-2 align-center">
                        <p class="text-base font-semibold text-semilightblack">
                            {{ $pageTitle }}
                        </p>
                        <p class="text-sm font-normal">
                            |
                        </p>
                        <p class="text-sm font-normal mt-[2px]">
                            {{ $projectType }}
                        </p>
                    </div>
            <div class="select-text text-sm">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}