<div class="flex flex-col flex-nowrap justify-center items-center -mr-1
            sm:hidden">
    <div id="menubuttoncontainer" class="flex flex-row h-auto items-center justify-start opacity-80 transition ease-out duration-100 flex-shrink-0
                hover:opacity-70 hover:scale-105
                active:opacity-50 active:scale-105
                sm:hidden">
        <button id="openmenubutton" class="">
            <ion-icon name="menu" alt="hamburger menu logo" style="color: black; font-size: 32px; margin-top: 6.9px; margin-left: 6px;"></ion-icon>
        <button>
    </div>
</div>