<!-- gap-5 in the following div was deleted -->
<div class="flex flex-col flex-nowrap justify-center items-center -mr-1 min-h-14
            sm:hidden">
    <div id="menubuttoncontainer" class="flex flex-row h-auto items-center justify-start opacity-80 transition duration-100 flex-shrink-0
                hover:opacity-70 hover:scale-105
                active:opacity-50 active:scale-105
                sm:hidden">
        <button id="openmenubutton">
            <img src="/img/hamburger_menu_icon.webp" alt="hamburger menu logo" class="flex max-w-full max-h-full w-7 mb-1 ml-1.5">
        <button>
    </div>
</div>