<div class="flex flex-row flex-nowrap justify-end items-center gap-1.5
            sm:justify-between sm:items-center">
{{ $socials := where .Site.RegularPages "Section" "socials"}}
    {{ range sort $socials "Params.someOrder" }}
        <div class="transition ease-out duration-150
                    hover:opacity-70 hover:scale-105
                    active:opacity-50">
            <a href="{{ .Params.href }}" class="flex justify-center items-center">
                <ion-icon name="{{ .Params.src }}" alt="{{ .Params.alt }}" style="color: rgb(24, 22, 22); font-size: 32px; margin-left: 8px; margin-right: -1px;"></ion-icon>
            </a>
        </div>
    {{ end }}
</div>