<div class="flex flex-row flex-nowrap justify-between items-center gap-1.5">
    <div class="transition duration-150
                hover:opacity-70 hover:scale-105
                active:opacity-50">
        <a href="https://www.linkedin.com/in/jakoblundoe" target="_blank" rel="noopener noreferrer">
            <img src="/img/linked_in_icon.webp" alt="LinkedIn logo link" class="w-9 h-auto">
        </a>
    </div>
    <div class="transition duration-150
                hover:opacity-70 hover:scale-105
                active:opacity-50">
        <a href="https://www.github.com/jakoblundoe" target="_blank" rel="noopener noreferrer">
            <img src="/img/github_icon.webp" alt="Github logo link" class="w-12 h-auto mr-0.5">
        </a>
    </div>
    <div class="transition duration-150
                hover:opacity-70 hover:scale-105
                active:opacity-50">
        <a href="https://www.instagram.com/lundoenielsen/" target="_blank" rel="noopener noreferrer">
            <img src="/img/instagram_icon.webp" alt="Instagram logo link" class="w-7 h-auto">
        </a>
    </div>
</div>